.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1em;
  align-items: start;
}

.app section {
  padding: 2em;
  background-color: white;
}

.preview {
  grid-row: 1 / -1;
  grid-column: 2;
  box-shadow: 1px 1px 8px grey;
}
